<!DOCTYPE html>
<html lang="en">

<head>
    <title>2012 and 2016 Election Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css" media="screen">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Add a gray background color and some padding to the footer */
        
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <a class="navbar-brand" href="#">2012 & 2016 Presidental Voting Analysis</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>


    <div id="header" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><strong>Election Data Analysis</strong></h1>
            <hr id="underline">
            <p class="lead">An in-depth look at the 2012 and 2016 U.S. Presidential elections.</p>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center">

        <div class="col-lg-12">
            <!-- <p>Map Goes Below Here</p> -->
            <div class="row">
                <div class="col-12">
                    <br><br>
                    <div id="map">
                        <div class='tableauPlaceholder' id='viz1591918539368' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;el&#47;elections_2012_2016_6_10_2020&#47;Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'
                                style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='elections_2012_2016_6_10_2020&#47;Dashboard2' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;el&#47;elections_2012_2016_6_10_2020&#47;Dashboard2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>
                        <script type='text/javascript'>
                            var divElement = document.getElementById('viz1591918539368');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            if (divElement.offsetWidth > 1200) {
                                vizElement.style.width = '100%';
                                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            } else if (divElement.offsetWidth > 500) {
                                vizElement.style.width = '100%';
                                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            } else {
                                vizElement.style.width = '100%';
                                vizElement.style.height = '1027px';
                            }
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                        </script>
                        <!-- We append our map here. -->
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-12"> 
      <p>Stacked Bar Chart</p>
      <div class="row">
      <div class="col-xs-12  col-md-9">
      <br><br>
        <div id="stacked_bar">
          We append our stacked bar chart here.
        </div>
        <br><br>
      </div> -->
    </div>
    </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="well">
            <h3>Filter Election Data by State:</h3><br>
            <select id="selDatasetstate">
        {% for state in states %}
        <option value = "/getStateData/{{state}}/" SELECTED>{{state}}</option>
        {% endfor %}
      </select>

            <select id="selYear">
          <option value=2016>2016</option>
          <option value=2012>2012</option>
      </select>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-xs-12  col-md-6">
                    <br><br>
                    <div id="pie">
                        <!-- We append our pie chart here. -->
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-xs-12  col-md-6">
                    <br><br>
                    <div id="bar">
                        <!-- We append our bar chart here. -->
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    </div><br><br>

    <footer class="container-fluid text-center">
        <p>Brought to you by Benji, Margeaux, Neelam, and Wendy!</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js "></script>
    <script type="text/javascript " src="static/js/app.js"></script>
</body>

</html>